# Bonus - DeeDee Walker

- Use pandas to import a new, unique csv dataset into a DataFrame

In [1]:
import pandas as pd

In [2]:
restaurant = pd.read_csv('https://raw.githubusercontent.com/ddwalk77/608-mod6/main/Restaurant_Scores_-_LIVES_Standard.csv')

In [3]:
pd.set_option('display.precision', 2)

In [4]:
restaurant.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,inspection_score,inspection_type,violation_id,violation_description,risk_category,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,85936,Laurel Court,950 Mason St,San Francisco,CA,94108,NaN,NaN,NaN,1.42e+10,...,100.0,Routine - Unscheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5827,HILLCREST ELEMENTARY SCHOOL,810 SILVER Ave,San Francisco,CA,94134,37.73,-122.42,POINT (-122.419253 37.729016),1.42e+10,...,NaN,Reinspection/Followup,NaN,NaN,NaN,92.0,92.0,2.0,2.0,7.0
2,94910,Ike's Kitchen,800 Van Ness Ave,San Francisco,CA,94109,NaN,NaN,NaN,NaN,...,NaN,New Ownership - Followup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64667,Jasmine Rae Bakery,1890 Bryant St #309,San Francisco,CA,94110,37.76,-122.41,POINT (-122.410351 37.763156),NaN,...,NaN,Reinspection/Followup,NaN,NaN,NaN,53.0,53.0,3.0,2.0,20.0
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,CA,94133,NaN,NaN,NaN,NaN,...,96.0,Routine - Unscheduled,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk,NaN,NaN,NaN,NaN,NaN

- Use the DataFrame commands to clean the data as needed and/or rename the columns

In [5]:
restaurant.columns = ['ID', 'Name', 'Address', 'City', 'State', 'Zip', 'Latitude', 'Longitude', 'Location', 'Phone', 'Inspection_Id', 'Inspection_Date', 'Score', 'Inspection_Type', 'Violation_Id',
                      'Violation_Description', 'Risk_Category', 'Neighborhoods', 'SF_Find_Neighborhoods', 'Current_Police_Districts', 'Current_Supervisor_Districts', 'Analysis_Neighborhoods']

In [6]:
restaurant['Phone'] = restaurant['Phone'].astype(str).replace('\.0','',regex=True)

In [7]:
restaurant.head()

,ID,Name,Address,City,State,Zip,Latitude,Longitude,Location,Phone,...,Score,Inspection_Type,Violation_Id,Violation_Description,Risk_Category,Neighborhoods,SF_Find_Neighborhoods,Current_Police_Districts,Current_Supervisor_Districts,Analysis_Neighborhoods
0,85936,Laurel Court,950 Mason St,San Francisco,CA,94108,NaN,NaN,NaN,14155775000,...,100.0,Routine - Unscheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5827,HILLCREST ELEMENTARY SCHOOL,810 SILVER Ave,San Francisco,CA,94134,37.73,-122.42,POINT (-122.419253 37.729016),14155464722,...,NaN,Reinspection/Followup,NaN,NaN,NaN,92.0,92.0,2.0,2.0,7.0
2,94910,Ike's Kitchen,800 Van Ness Ave,San Francisco,CA,94109,NaN,NaN,NaN,nan,...,NaN,New Ownership - Followup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64667,Jasmine Rae Bakery,1890 Bryant St #309,San Francisco,CA,94110,37.76,-122.41,POINT (-122.410351 37.763156),nan,...,NaN,Reinspection/Followup,NaN,NaN,NaN,53.0,53.0,3.0,2.0,20.0
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,CA,94133,NaN,NaN,NaN,nan,...,96.0,Routine - Unscheduled,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk,NaN,NaN,NaN,NaN,NaN

In [8]:
import re

In [9]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{1})(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [10]:
formatted_phone = restaurant['Phone'].map(get_formatted_phone)

In [11]:
formatted_phone #once confirmed corrected then can load

0        1-415-577-5000
1        1-415-546-4722
2                   nan
3                   nan
4                   nan
              ...
53968    1-415-529-7665
53969    1-415-583-5001
53970               nan
53971    1-415-581-6395
53972               nan
Name: Phone, Length: 53973, dtype: object

In [12]:
restaurant['Phone'] = formatted_phone

In [13]:
restaurant.head() #to check if the phone # was loaded

,ID,Name,Address,City,State,Zip,Latitude,Longitude,Location,Phone,...,Score,Inspection_Type,Violation_Id,Violation_Description,Risk_Category,Neighborhoods,SF_Find_Neighborhoods,Current_Police_Districts,Current_Supervisor_Districts,Analysis_Neighborhoods
0,85936,Laurel Court,950 Mason St,San Francisco,CA,94108,NaN,NaN,NaN,1-415-577-5000,...,100.0,Routine - Unscheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5827,HILLCREST ELEMENTARY SCHOOL,810 SILVER Ave,San Francisco,CA,94134,37.73,-122.42,POINT (-122.419253 37.729016),1-415-546-4722,...,NaN,Reinspection/Followup,NaN,NaN,NaN,92.0,92.0,2.0,2.0,7.0
2,94910,Ike's Kitchen,800 Van Ness Ave,San Francisco,CA,94109,NaN,NaN,NaN,nan,...,NaN,New Ownership - Followup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64667,Jasmine Rae Bakery,1890 Bryant St #309,San Francisco,CA,94110,37.76,-122.41,POINT (-122.410351 37.763156),nan,...,NaN,Reinspection/Followup,NaN,NaN,NaN,53.0,53.0,3.0,2.0,20.0
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,CA,94133,NaN,NaN,NaN,nan,...,96.0,Routine - Unscheduled,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk,NaN,NaN,NaN,NaN,NaN

- Use the DataFrame hist() function to generate histograms for the numeric columns

change inspection_date to standard date w/out time

- Use the DataFrame describe() function to calculate basic descriptive statistics

In [14]:
restaurant.describe()

,ID,Latitude,Longitude,Score,Neighborhoods,SF_Find_Neighborhoods,Current_Police_Districts,Current_Supervisor_Districts,Analysis_Neighborhoods
count,53973.00,27475.00,27475.00,39541.00,27435.00,27435.00,27447.00,27447.00,27447.00
mean,55218.88,37.75,-122.36,86.22,56.96,56.96,5.36,5.63,19.46
std,36165.56,0.88,2.86,8.49,34.80,34.80,2.69,3.30,11.62
min,19.00,0.00,-122.51,45.00,1.00,1.00,1.00,1.00,1.00
25%,7558.00,37.76,-122.44,81.00,28.00,28.00,3.00,3.00,8.00
50%,69186.00,37.78,-122.42,87.00,53.00,53.00,6.00,5.00,20.00
75%,86385.00,37.79,-122.41,92.00,95.00,95.00,8.00,9.00,30.00
max,102705.00,37.82,0.00,100.00,117.00,117.00,10.00,11.00,41.00

In [ ]:
%matplotlib widget

In [ ]:
histogram = restaurant.hist()