# Chapter 9 Practice DeeDee Walker

##### 9.3.1 - Write to a text file

In [2]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

###### 9.3.1 Self Check - DeeDee Walker

In [3]:
with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

##### 9.3.2 Read text file

In [4]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

###### 9.3.2 Self Check - DeeDee Walker

In [5]:
with open('grades.txt', mode='r') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade:>10}')

ID  Name   Grade
1   Red             A
2   Green           B
3   White           A

##### 9.4 Updating text files

In [1]:
accounts = open('accounts.txt', 'r')

In [2]:
temp_file = open('temp_file.txt', 'w')

In [3]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split() #copy the records not 300 White 0.00 into temp file
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance]) #write updated & correctly formatted record for account 300 to temp file
            temp_file.write(new_record + '\n')

In [4]:
# os Module file processing
import os

In [5]:
os.remove('accounts.txt') #delete accounts file

In [6]:
os.rename('temp_file.txt', 'accounts.txt') # rename temp file to accounts

In [7]:
# Windows Users: View file contents
!more accounts.txt

100 Jones 24.98
200 Doe 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62

###### 9.4 Self Check - DeeDee Walker

In [8]:
accounts = open('accounts.txt', 'r')

In [9]:
temp_file = open('temp_file.txt', 'w')

In [10]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '200':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Smith', balance])
            temp_file.write(new_record + '\n')

In [11]:
import os

In [12]:
os.remove('accounts.txt')

In [13]:
os.rename('temp_file.txt', 'accounts.txt')

In [14]:
!more accounts.txt

100 Jones 24.98
200 Smith 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62

In [15]:
#Option 2 code (#use doe instead of 200)

#with accounts, temp_file:
    #for record in accounts:
        #account, name, balance = record.split()
        #if name != 'Doe': 
            #temp_file.write(record)
        #else:
            #new_record = ' '.join([account, 'Smith', balance])
            #temp_file.write(new_record + '\n')

##### 9.5 Serialization with JSON - DeeDee Walker

In [1]:
# Python Standard Library Module `json` 
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [2]:
# Serializing an Object to JSON
import json

In [3]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts) #open the file accounts.json & uses the json module's dump function to serialize the dictionary accounts_dict into the file

In [4]:
# Deserializing the JSON Text
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts) #json load function reads the entire JSON contents of its file object argument and converts the JSON into a Python object, known as deserializing the data.

In [5]:
accounts_json #can interact with the loaded object

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [6]:
accounts_json['accounts'] #can access the dictionary's contents

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [7]:
accounts_json['accounts'][0] #access individual account dicionaries

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [8]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [9]:
# Displaying the JSON Text
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4)) #pretty printing - dumps returns a Python string representation of an object in JSON format. Using dumps with load, you can read the JSON from the 
    #file. When dumps function call includes the indent keyword argument, the sting contains newline characters and indentation

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

###### 9.5 Self Check - DeeDee Walker

In [10]:
import json

In [11]:
grades_dict = {'gradebook': 
    [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
     {'student_id': 2, 'name': 'Green', 'grade': 'B'},
     {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [12]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [13]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

##### 9.8.2 try statements DeeDee Walker

In [15]:
# dividebyzero.py
"""Simple exception handling example."""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError:  # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError:  # denominator was 0
        print('Attempted to divide by zero\n')
    else:  # executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break  # terminate the loop

Enter numerator:  6
Enter denominator:  0

Attempted to divide by zero

Enter numerator:  hello

You must enter two integers

Enter numerator:  5
Enter denominator:  5

5.000 / 5.000 = 1.000

###### 9.8.2 Self Check DeeDee Walker

In [20]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')

In [21]:
try_it(10.7)

int(10.7) is 10

In [22]:
try_it('Python')

Python could not be converted to an integer

##### 9.9 finally clause DeeDee Walker

In [23]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:  
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [24]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:  
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [26]:
# Combining with Statements and try…except Statements 
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:  
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

###### 9.9 Self Check DeeDee Walker

In [27]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')
    finally:
        print('finally executed')

In [28]:
try_it(10.7)

int(10.7) is 10
finally executed

In [29]:
try_it('Python')

Python could not be converted to an integer
finally executed

##### 9.12.1 csv module DeeDee Walker

In [31]:
import csv

In [32]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [33]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:  
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

###### 9.12.1 Self Check DeeDee Walker

In [35]:
import csv

In [36]:
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [37]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<10}{"Name":<10}{"Grade":>10}')
    reader = csv.reader(grades)
    for record in reader:  
        student_id, name, grade = record
        print(f'{student_id:<10}{name:<10}{grade:>10}')

ID        Name           Grade
1         Red                A
2         Green              B
3         White              A

##### 9.12.2 DeeDee Walker

In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('accounts.csv', 
                 names=['account', 'name', 'balance']) #names keyword argument specifies the DataFrame's column names. If this is not supplied, read_csv assumes the CSV's first row is comma-delimited

In [40]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [41]:
df.to_csv('accounts_from_dataframe.csv', index=False) #saves dataframe to a file using csv format - index=false indicates row names are nto writtent to the file

###### 9.12.5 Self Check

In [2]:
import pandas as pd

In [3]:
pd.read_csv('grades.csv', names=['ID', 'Name', 'Grade'])

   ID   Name Grade
0   1    Red     A
1   2  Green     B
2   3  White     A